/* Visualisation svg */
.deselect{
    opacity: 0.1;
}

path,
line {
    stroke: #595959;
    stroke-width: 0.2;
}

path.arrow{
    fill: #595959;
    stroke: #595959;
}

path.arrow.clicked {
    fill: #b30000;
    stroke: #b30000;
}

circle.clicked {
    fill: #ff0000;
    stroke: black;
    stroke-width: 0.5;
}

line.clicked,
path.curved.clicked {
    stroke: #b30000;
    stroke-width: 0.6;
}

span.sectionTitle {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

span.subSectionTitle {
    padding-right: 15px;
}

div.keyValuePair {
    color: #888888;
}

span.marginLeft {
    margin-left: 10px;
}

div.keyValuePair span.valueOfKey {
    padding-left: 10px;
    color: black;
}

.ui.label {
    margin-top: 0.142857em;
    margin-bottom: 0.142857em;
}

.ui.button.highlight {
    background: #3498db;
    color: white;
}

div.beginOfLineLabel {
    min-width: 5%;
}

div.halfWidth {
    width: 50%;
    float: left;
}

.wrapText{
    width: inherit;
    word-wrap: break-word;
}

.clear{
    clear: both;
}

/* special elements */
#settingsSidebar .inner-group{
    display: block;
    width: 10%;
    float: left;
}

#settingsSidebar textarea{
    margin-left: 10px;
    width: 75%;
    margin-right: 0px;
}

#settingsSidebar .label{
    width: 60px;
}

/* Dropdown */
div#neighborBarChartSortSelection{
    width: 300px;
    float: right;
}