.ui.left.sidebar {
    width: 60%;
}

/* Input */
.input-group {
    width: 95%;
}

.shortInfoBox p {
    color: white;
    width: 100%;
    background-color: #4d4d4d;
}

.hidden{
    display: none;
}

.space {
    width: 100%;
    height: 20px;
}

.loader{
    margin-left: 45%;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.filterOptionsSection span.filterTitle{
    padding-right: 15px;
}

/* Tags */
div.filter .ui.label {
    background-color: #666666;
}

div.filter .ui.label.active {
    background-color: #3498db;
}

/* svg */
.deselect{
    opacity: 0.1;
}