.ui.left.sidebar {
    width: 60%;
}

/* Input */
.input-group {
    width: 95%;
}

.smallMargin {
    margin: 5px;
}

.shortInfoBox p{
    color: white;
    width: 100%;
    background-color: #4d4d4d;
}

.hidden{
    display: none;
}